

.partnersContainer{
    background-color: var(--clr-neutral-100);
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
    padding: 1rem;
    border-radius: 40px;
    
}

.title{
    font-size: var(--fs-800);
    color: var(--clr-neutral-900);
    text-transform: uppercase;
    text-align: center;
   
}

.imageContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: left;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    

}




@media (max-width: 60em){
    .partnersContainer{
        margin: 2rem;
    }
    .imageContainer{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
        
    }
}