.programsContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    gap: 2rem;
    position: relative;
    
}

.cardGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
   
}
.title{
    font-size: var(--fs-800);
    text-transform: uppercase;
    text-align: center;
    
}

@media (max-width: 60em){
    .programsContainer{
        padding: 2rem;
    }
    .cardGrid{
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr))
        
    }
}